<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>269037514693-aubo6dlpiae4gca28ii3f5ulott6k9ca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269037514693-aubo6dlpiae4gca28ii3f5ulott6k9ca</string>
	<key>API_KEY</key>
	<string>AIzaSyBapAvgco9aYSamcRL8r3XyN2jW0uFegiM</string>
	<key>GCM_SENDER_ID</key>
	<string>269037514693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.1003.Order-Foods-App</string>
	<key>PROJECT_ID</key>
	<string>order-food-app-3aa75</string>
	<key>STORAGE_BUCKET</key>
	<string>order-food-app-3aa75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269037514693:ios:0add0e2470f0bbbf</string>
	<key>DATABASE_URL</key>
	<string>https://order-food-app-3aa75.firebaseio.com</string>
</dict>
</plist>